<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>XiaoTao</display-name>
  <welcome-file-list>
    <welcome-file>start</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Start</display-name>
    <servlet-name>Start</servlet-name>
    <servlet-class>com.itheima.web.servlet.Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logonservlet</display-name>
    <servlet-name>Logonservlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.Logonservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logonservlet</servlet-name>
    <url-pattern>/logonservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveSerlvet</display-name>
    <servlet-name>ActiveSerlvet</servlet-name>
    <servlet-class>com.itheima.web.servlet.ActiveSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveSerlvet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>com.itheima.web.servlet.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.itheima.web.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
</web-app>